<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo foundation styles</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
<body>
  <div class="grid-container full">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-3 medium-3 small-3 cell">  
          <img src="images/logo CMYK-03.png" width="70"> 
        </div>
        <div class="large-3 medium-3 small-3 cell">
          <p>Welcom my team's Demo</p>  
        </div>
        <div class="large-3 medium-3 small-3 cell">
          <a href="https://www.facebook.com/"> <img src="images/facebook.png" width="50"></a>
          <img src="images/3Bg-2ZsT_400x400.jpg "width="50">
        </div>
        <div class="large-3 medium-3 small-3 cell">
          <button type="button" class="button" style="color: yellow;">Đăng nhập</button>
        </div>
      </div> 
    </div>
  </div>
<header>
  <div class="align align-center vertical menu">
    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
      <li class="menu"><a href="">Trang Chủ</a></li>
      <li class="dropdown menu"><a href="">Sản Phẩm</a>
        <ul class="sub-menu">
          <li><a href="">Sản phẩm 1</a></li>
          <li><a href="">Sản phẩm 2</a></li>
          <li><a href="">Sản phẩm 3</a></li>
        </ul>
      </li>
      <li class="menu"><a href="">Thông tin</a></li>
      <li class="menu"><a href="">Giỏ hàng</a></li>
      
      
    </ul>
  </div>
</header>
<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"><img src="images/balo7.jfif" width="300"></div>
    <div class="slide"><img src="/images/balo8.jfif" width="300"></div>
    <div class="slide"><img src="/images/balo 9.jfif" width="300"></div>
  </div>
</div>
  
    <!-- <div class="grid-container full">
      <div class="column float-center">
        <ul class="menu" style="justify-content: center; margin-left: 40px;">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
        <div class="large-4 medium-4 small-4">
        </div>
      </div>
      <div class="column float-left">
        <h2>Danh muc san pham</h2>
      </div>
      <div class="column float-right">
        <h2>Danh muc san pham</h2>
      </div>
    </div> -->

    <div class="grid-container full">
      <div class="row">
        <div class="large full medium-4 small-4 columns">
          <ul class="menu" style="justify-content: center; margin-left: 40px;">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
      <div class="grid-x grid-padding-x" style="margin-top: 3cm;">
        <div class="large-3 small-2 cell">
          <ul><a href="">Danh sách sản phẩm</a>
            <ol><a href="">Sản phẩm 1</a></ol>
            <ol><a href="">Sản phẩm 2</a></ol>
            <ol><a href="">Sản phẩm 3</a></ol>
          </ul>
            
        </div>
        <div class="large-6 small-4 cell">
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 small-4 cell">
              
                <a href=""><img src="/images/Ba lo 1.jpg" width="200"></a>
              
            </div>
            <div class="large-4 medium-4 small-4 cell">
              
              <a href=""><img src="/images/balo 2.jfif" width="200"></a>
              
            </div>
            <div class="large-4 medium-4 small-4 cell">
              
              <a href=""><img src="/images/balo 3.jfif" width="200"></a>
              
            </div>
            <div class="large-4 medium-4 small-4 cell">
              
              <a href=""><img src="/images/balo5.jfif" width="200"></a>
              
            </div>
            <div class="large-4 medium-4 small-4 cell">
              
              <a href=""><img src="/images/balo6.jfif" width="200"></a>
              
            </div>
            <div class="large-4 medium-4 small-4 cell">
              
              <a href=""><img src="/images/balo7.jfif" width="200"></a>
              
            </div>
          </div>
        </div>
        <div class="large-3 small-8 cell">
          <h2>Quảng cáo  </h2>>
        </div>
      </div>    
    </div>
    <footer style="margin-top: 3cm;">
    <div class="grid-x grid-padding-x">
      <div class="small-4 large-4 cell">
        <ul>
          <li>Địa chỉ: Lô E1, khu công nghệ cao, xa lộ Hà Nội,P.Hiệp Phú,Q.9</li>
          <li>Điện thoại:012345678</li>
          <li>Email: abc@gmail.com</li>
        </ul>
      </div>
      <div class="small-8 large-8 cell">
        <h6>Gửi ý kiến cho chúng tôi</h6>
         <p>Hãy điền thông tin phản hồi cho chúng tôi.</p>
         <form action="#">
          <ul class="menu" style="justify-content: center; margin-left: 40px;">
            <li><input type="search" placeholder="Nhập phản hồi"></li>
            <li><button type="button" class="button" style="background-color: purple;">Gửi</button></li>
          </ul>
          </form>

      </div>
    </div>
    </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
</body>
</html>